---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


@media screen and (max-width: 600px) { 
	.site-title { padding-right: 80px;line-height:0.95 } 
}

.post-content {
  h1, h2, h3 { margin-top: $spacing-unit }
  h4, h5, h6 { margin-top: $spacing-unit }
}

.center-image {
    margin: 0 auto;
    display: block;
}

figure {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

figcaption {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;

  opacity: 0;
  bottom: 0;
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}
